.App {
  height: 100%;

  max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 10%;
}

.board {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

td {
  border-top-style: solid;
  border-top-width: 5px;
  border-right-style: solid;
  border-right-width: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-left-style: solid;
  border-left-width: 5px;

  --empty: #212121;
  --filled: white;
}

.top-left {
  border-top-color: var(--empty);
  border-right-color: var(--filled);
  border-bottom-color: var(--filled);
  border-left-color: var(--empty);
}

.top-center {
  border-top-color: var(--empty);
  border-right-color: var(--filled);
  border-bottom-color: var(--filled);
  border-left-color: var(--filled);
}

.top-right {
  border-top-color: var(--empty);
  border-right-color: var(--empty);
  border-bottom-color: var(--filled);
  border-left-color: var(--filled);
}

.middle-left {
  border-top-color: var(--filled);
  border-right-color: var(--filled);
  border-bottom-color: var(--filled);
  border-left-color: var(--empty);
}

.middle-center {
  border-top-color: var(--filled);
  border-right-color: var(--filled);
  border-bottom-color: var(--filled);
  border-left-color: var(--filled);
}

.middle-right {
  border-top-color: var(--filled);
  border-right-color: var(--empty);
  border-bottom-color: var(--filled);
  border-left-color: var(--empty);
}

.bottom-left {
  border-top-color: var(--filled);
  border-right-color: var(--filled);
  border-bottom-color: var(--empty);
  border-left-color: var(--empty);
}

.bottom-center {
  border-top-color: var(--filled);
  border-right-color: var(--filled);
  border-bottom-color: var(--empty);
  border-left-color: var(--filled);
}

.bottom-right {
  border-top-color: var(--filled);
  border-right-color: var(--empty);
  border-bottom-color: var(--empty);
  border-left-color: var(--filled);
}
